<article id="com-map" class="skin-3">
    <header class="map-header">
        <div id="daumRoughmapContainer1689052234707" class="root_daum_roughmap root_daum_roughmap_landing" style="width:100%;height:350px"></div>
        <script charset="UTF-8" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        <script charset="UTF-8">
            new daum.roughmap.Lander({
                "timestamp" : "1689052234707",
                "key" : "2fgtx",
            }).render();
        </script>
    </header>
    <section class="map-container">
        <div class="inadd">
            <div class="titles">위치</div>
            <address class="address">(05698) 서울특별시 송파구 송파대로 345</address>
            <div class="add-info">
                <em>T. 010-5165-5574</em>
            </div>
        </div>
    </section>
</article>
