@charset "UTF-8";
/**********************************************
note : reset
**********************************************/
.user-point {color:#e73f72}
.user-bg {background-color:#e73f72}

/**********************************************
note : header
**********************************************/
#user-header {display:block;position:relative;margin-bottom:1.875rem;font-size:0;border-bottom:2px solid #e73f72;text-align:center}
#user-header > [class*="grid-"] {display:inline-block;vertical-align:middle}
#user-header > .grid-left, #user-header > .grid-right {width:56px}
#user-header > .grid-center {width:calc(100% - 112px)}
#user-header .user-logo {display:block;overflow:hidden;height:35px;margin:0 auto;background-repeat:no-repeat;background-position:50% 0;background-size:contain}
#user-header .nav-btns, #user-header .sch-btns {width:100%;height:56px;font-size:1.5rem;color:rgba(0,0,0,.95)}

/* search */
#user-header .basic-search {display:none;position:absolute;z-index:10;left:0;top:0;width:100%;height:56px;background-color:#fff}
#user-header .basic-search .sch-close {float:left;width:56px;height:56px;font-size:1.25rem;color:rgba(0,0,0,.6)}
#user-header .basic-search input#sc_word {float:left;width:calc(100% - 112px);height:40px;margin-top:.5rem;margin-bottom:0;font-size:1rem;color:rgba(0,0,0,.95);border:0;border-radius:0;outline-width:0}
#user-header .basic-search button[onclick] {width:56px;height:56px;font-size:1.5rem;color:rgba(0,0,0,.95)}

/**********************************************
note : navigation
**********************************************/
#user-nav {overflow-x:hidden;overflow-y:auto;position:fixed;z-index:1004;left:0;top:0;width:80%;height:100%;background-color:#ececec;-ms-transform:translateX(-100%);-webkit-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:transform .3s ease-in-out;transition:transform .3s ease-in-out}
#user-header.is-active #user-nav {-ms-transform:translateX(0);-webkit-transform:translateX(0);transform:translateX(0)}
#user-header .nav-overlap {display:none;position:fixed;z-index:1001;left:0;top:0;width:100%;height:100%;background-color:rgba(10,10,10,.5)}
#user-header.is-active .nav-overlap {display:block}
@media screen and (min-width: 40em) {
	#user-nav {max-width:375px}
}

/* header */
#user-nav .header {display:block;font-size:0;background-color:#fff;text-align:left}
#user-nav .header > .item {display:inline-block;vertical-align:middle}
#user-nav .header > :first-child {width:142px;padding:1rem 1.25rem}
#user-nav .header > :last-child {width:calc(100% - 142px);padding:0 1.25rem;text-align:right}
#user-nav .header > .item > .btns {display:inline-block;margin-left:.625rem;font-size:1.625rem;line-height:30px;color:rgba(0,0,0,.95);vertical-align:middle}
#user-nav .header > .item > .btns.small {font-size:1.125rem;color:rgba(0,0,0,.5)}
#user-nav .header > :last-child > :first-child {margin-left:0}

/* container */
#user-nav .container::after {content:'';display:table;clear:both}

/* search */
#user-nav .search-form {display:block;position:relative;padding:0 0 0 .625rem;background-color:#333}
#user-nav .search-form .inner {display:block}
#user-nav .search-form .inner::after {content:'';display:table;clear:both}
#user-nav .search-form input#sc_word, #user-nav .search-form button[onclick] {float:left}
#user-nav .search-form input#sc_word {width:calc(100% - 65px);height:50px;margin-bottom:0;font-size:.875rem;font-weight:normal;color:#fff;background-color:transparent;border:0;border-radius:0}
#user-nav .search-form input#sc_word::-webkit-input-placeholder {color:rgba(255,255,255,.15)}
#user-nav .search-form input#sc_word::-moz-placeholder {color:rgba(255,255,255,.15)}
#user-nav .search-form input#sc_word:-ms-input-placeholder {color:rgba(255,255,255,.15)}
#user-nav .search-form input#sc_word::placeholder {color:rgba(255,255,255,.15)}
#user-nav .search-form button[onclick] {width:65px;height:50px;font-size:1.375rem;color:#fff;background-image:linear-gradient(to right, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 30%)}

/* sections */
#user-nav .menu {display:block;padding:1rem 0;margin-bottom:.625rem;background-color:#fff;text-align:left}
#user-nav .menu::after {content:'';display:table;clear:both}
/*#user-nav .menu > li {float:left;width:50%}*/
#user-nav .menu > li > a {padding:.875rem 1.25rem;font-size:1rem;line-height:1;color:rgba(0,0,0,.95);text-decoration:none}
#user-nav .menu > .is-accordion-submenu-parent[aria-expanded="true"] > a {font-weight:bolder}
#user-nav .menu > .is-accordion-submenu-parent > a::after {content:'+';right:1.25rem;width:auto;height:auto;margin:0;font-size:inherit;font-weight:normal;line-height:1;border:0;-ms-transform:translateY(-50%);transform:translateY(-50%)}
#user-nav .menu > .is-accordion-submenu-parent[aria-expanded="true"] > a::after {content:'-'}
#user-nav .menu.nested {background-color:#f8f8f8}
#user-nav .menu.nested::after {content:'';display:table;clear:both}
#user-nav .menu.nested > li {float:left;width:50%}
#user-nav .menu.nested > :nth-child(2n + 1) {border-right:1px solid rgba(0,0,0,.05);clear:both}
#user-nav .menu.nested > li > a {overflow:hidden;padding:.625rem 1rem;font-size:.875rem;text-overflow:ellipsis;white-space:nowrap}

/* special menu */
#user-nav .rank-tile {display:block;font-size:0;text-align:left;background-color:#fff;border-top:1px solid #ececec}
#user-nav .rank-tile::after {content:'';display:table;clear:both}
#user-nav .rank-tile > a {float:left;width:33.33333%;padding:1rem .625rem;color:rgba(0,0,0,.75);background-color:#fff;border-width:1px 0 0 1px;border-style:solid;border-color:rgba(0,0,0,.08);text-decoration:none;text-align:center}
#user-nav .rank-tile > :nth-child(3n + 1) {border-left-width:0;clear:both}
#user-nav .rank-tile [class*="icon-"] {display:block;margin-bottom:.375rem;font-size:1.625rem;line-height:1}
#user-nav .rank-tile > :nth-child(1) > [class*="icon-"] {color:#5684ff}
#user-nav .rank-tile > :nth-child(2) > [class*="icon-"] {color:#13c0cb}
#user-nav .rank-tile > :nth-child(3) > [class*="icon-"] {color:#f39a11}
#user-nav .rank-tile > :nth-child(4) > [class*="icon-"] {color:#f44e5c}
#user-nav .rank-tile > :nth-child(5) > [class*="icon-"] {color:#005ca0}
#user-nav .rank-tile > :nth-child(6) > [class*="icon-"] {color:#832c81}
#user-nav .rank-tile .text {display:block;font-size:.813rem}

/* footer */
#user-nav .footer {display:block;padding:0 1.25rem;margin:2.125rem 0 1.25rem;font-size:0;text-align:left;background-color:#ececec}
#user-nav .footer .navs {display:block;font-size:0;text-align:center}
#user-nav .footer .navs > a {display:inline-block;position:relative;padding:.375rem .75rem;font-size:.813rem;line-height:1.125;color:rgba(0,0,0,.6);text-decoration:none;vertical-align:middle}
#user-nav .footer .navs > a::before {content:'';overflow:hidden;position:absolute;z-index:1;left:0;top:50%;width:0;height:.688rem;border-left:1px solid rgba(0,0,0,.12);-ms-transform:translateY(-50%);transform:translateY(-50%)}
#user-nav .footer .navs > :first-child::before {content:normal}
#user-nav .footer .address {display:block;margin:.375rem 0 0;padding:.75rem 0;font-size:0;border-top:1px solid rgba(0,0,0,.05);text-align:center}
#user-nav .footer .address > .item {display:inline-block;padding:.25rem .625rem;font-size:.75rem;font-style:normal;font-weight:normal;line-height:1.375;color:rgba(0,0,0,.5);text-decoration:none}
#user-nav .footer .address > .item.zips {display:block}

/* show for desktop */
#user-nav .go-to-desktop {display:block;overflow:hidden;margin-bottom:1rem;padding:.75rem 1.25rem;font-size:.9375rem;line-height:1;color:rgba(0,0,0,.95);background-color:#fff;border-radius:2rem;white-space:nowrap;text-overflow:ellipsis;text-decoration:none;text-align:center}

/**********************************************
note : visual navigation
**********************************************/
#user-header .visual-nav {display:block;overflow:hidden;position:relative;z-index:1;height:47px;font-size:0;background-color:#fff;border-top:1px solid rgba(0,0,0,.08);text-align:left}
#user-header .visual-nav .inset {display:block;overflow:hidden}
#user-header .visual-nav .inset > .item {display:inline-block;position:relative;width:25%;height:46px;padding:0 .625rem;font-size:.875rem;font-weight:normal;font-style:normal;line-height:46px;color:rgba(0,0,0,.95);text-align:center;vertical-align:middle}
#user-header .visual-nav .inset > .item::before {content:'';display:block;overflow:hidden;position:absolute;z-index:1;left:0;top:.875rem;bottom:.875rem;width:0;border-left:1px solid rgba(0,0,0,.08)}
#user-header .visual-nav .inset > :first-child::before {content:normal}
#user-header .visual-nav.scroll .inset {overflow-x:auto;width:100%;white-space:nowrap}
#user-header .visual-nav.scroll .inset > .item {width:auto;padding:0 1.25rem}

/**********************************************
note : footer
**********************************************/
#user-footer {padding:0;background-color:#fff}

/* key service */
#user-footer .key-service {display:block;font-size:0;background-color:#fff;text-align:center}
#user-footer .key-service::after {content:'';display:table;clear:both}
#user-footer .key-service > a {overflow:hidden;float:left;width:33.33333%;padding:.625rem;margin-bottom:-1px;font-size:1rem;line-height:1.125;border-width:1px 0 1px 1px;border-style:solid;border-color:#ececec;text-decoration:none;text-overflow:ellipsis;white-space:nowrap}
#user-footer .key-service > :nth-child(3n + 1) {border-left-width:0;clear:both}
#user-footer .key-service > :last-child:not(:nth-child(3n)) {border-right-width:1px}
@media screen and (min-width: 40em) {
	#user-footer .key-service > a {width:25%}
	#user-footer .key-service > :nth-child(3n + 1) {border-left-width:1px;clear:inherit}
	#user-footer .key-service > :nth-child(4n + 1) {border-left-width:0;clear:both}
	#user-footer .key-service > :last-child:not(:nth-child(4n)) {border-right-width:1px}
}

/* sns */
#user-footer .footer-sns {display:block;padding:1.563rem;background-color:#e6e9ec;text-align:center}
#user-footer .footer-sns .titles {display:block;margin-bottom:.75rem;font-size:.875rem;line-height:1.125;letter-spacing:-.05em;color:rgba(0,0,0,.95)}
#user-footer .footer-sns .btn-group {display:block;font-size:0;text-align:inherit}
#user-footer .footer-sns .btn-group > .item {display:inline-block;overflow:hidden;width:50px;height:50px;margin-right:10px;font-size:1.625rem;line-height:48px;color:rgba(0,0,0,.95);background-color:#fff;border-radius:50%}
#user-footer .footer-sns .btn-group > :last-child {margin-right:0}

/* quick menu */
#user-footer .quick-menu {display:block;overflow:hidden;font-size:0;white-space:nowrap;text-align:center}
#user-footer .quick-menu > a {display:inline-block;position:relative;padding:0 .875rem;font-size:.813rem;line-height:60px;letter-spacing:-.05em;color:rgba(0,0,0,.45)}
#user-footer .quick-menu > a.point {color:rgba(0,0,0,.95)}
#user-footer .quick-menu > a::before {content:'';overflow:hidden;position:absolute;z-index:1;left:0;top:50%;width:0;height:.625rem;border-left:1px solid rgba(0,0,0,.1);-ms-transform:translateY(-50%);transform:translateY(-50%)}
#user-footer .quick-menu > a:first-of-type::before {content:normal}

/* info */
#user-footer .info {display:block;margin:1rem 0 3.25rem;padding:0 1.563rem;text-align:center}
#user-footer .copyright {display:block;font-size:.75rem;line-height:1;color:rgba(0,0,0,.5)}
#user-footer .copyright a {color:inherit;text-decoration:none}
#user-footer .ndsoft {display:block;margin-top:1.875rem;text-align:right}
#user-footer .ndsoft > .ci {display:inline-block}

